body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;  /* Horizontally center */
            align-items: center;     /* Vertically center */
}

button {
            width: 200px;
            height: 50px;
            display: flex;
            align-items: center;
}
